* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #8eaebd;
  font-family: sans-serif;
}

header {
  height: 100vh;
  background-image: url(./Images/homeoffice04.jpeg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}
@media (max-width: 728px) {
  header {
    height: 50vh;
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;

  background-color: #a7d2cb;
}

.menu a {
  display: block;
  padding: 10px;
}

.menu li {
   list-style: none;
}

a {
  color: #0f1626;
  text-shadow: 0.5px 0.5px #cae4db;

  text-decoration: none;
}

a:hover, a:focus {
  color: #30415d;

  text-decoration: underline;
}

.page-title, .page-subtitle {
  color: #0f1626; 
  text-shadow: 1px 1px 10px whitesmoke;

  text-align: center;
}

.page-title {
  margin-top: 4rem;
}

.page-subtitle {
  margin-top: 0.5rem;
  padding: 1px;

  text-decoration: overline underline;
}

.portfolio__img {
  width: 25%;
  height: 25%;
  border-radius: 5%;
}

.imersao {
  padding: 20px;

  background-color: #a7d2cb;

  text-align: center;
  font-size: 0.7rem;
}

.marca {
  margin-bottom: 10px;
}